body {
	background-image: url("../images/BG.png")
}

h2, h3 {
	font-family: 'Georgia', Times, "Times New Roman", serif;
	color: #4aaaa5;
	padding: 0 20px;
}

* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

.navbar .navbar-default .navbar-nav {
	border-bottom: 1px solid #cccccc;
	background: white;
}

.space {
	margin: 40px 0;
}
.navbar-default .navbar-brand {
	color: white;
	background: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-size: 24px;
	font-weight: bold;

}

.navbar-default .navbar-brand:hover {
	color: white;
	background: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-weight: bold;
	font-size: 24px;
}

.connect {
	border: 2px solid #cccccc;
	background: #ffffff;
	width: 270px;
	float: right;
	position: relative;
	top: 75px;
	margin: 30px;
	margin-right: 150px;
	margin-top: -75px;
}

.connect h3 {
	text-align: center;
}

.connect img {
	margin-bottom: 20px;
}

.projects, .contact, .aboutMe {
	border: 2px solid #cccccc;
	background: #ffffff;
	padding: 0 30px;
}

.labels {
	position: relative;
	left: 0px;
	bottom: 62px;
	border: 15px solid #4aaaa5;
	width: 102%;
	color: white;
	background: #4aaaa5;
	text-align: center;
	font-size: 16px;
}

#submitnow {
	background-color: #4aaaa5;
	color: white;
	border: 1px solid #4aaaa5;
	margin-bottom: 20px;
}

footer {
	background: #666666;
	border-top: 3px solid #4aaaa5;
	color: #ffffff;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

footer p {
	color: white;
	padding: 10px;
	font-size: 10px;
}